
<!-- 
<!DOCTYPE html>
<html>
	<head>
		<title>My Webpage</title>
	</head>

	<body>
		<h1>Welcome to the Trump Twitter Comparison Challenge!</h1>
		<h2>This is a website designed to compare real tweets and computer generated tweets. 
		<br>See if you can tell the difference.</h2>
		<h4 id='date'></h4>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
		<script async src="{{ url_for('static', filename='javascript/index.js') }}"></script>
		<meta charset="UTF-8">

		<div class="image-section">
			<div class="section-style"> -->
				<!--
				<img src="https://source.unsplash.com/random/400x200/?Washington State" alt="" />
				-->
				<!-- <p>{{ real }}</p>
			</div>

			<div class="section-style"> -->
				<!--
				<img src="https://source.unsplash.com/random/400x200/?California" alt="" />
				-->
				<!-- <p>{{ fake }}</p>
			</div>
		</div>

		<div class="image-section">
			<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
			</div>

			<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
			</div>
		</div>

	</body>
</html>
 -->

 <!DOCTYPE html>
<html>
<body>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />


		<!DOCTYPE html>

<h1>
Which tweet is real?
</h1>


<div class="wrapper"> 
<div class="tw-block-parent">
  <div class="timeline-TweetList-tweet">
    <div class="timeline-Tweet">
      <div class="timeline-Tweet-brand">
        <div class="Icon Icon--twitter"></div>
      </div> <!-- brand -->
      <div class="timeline-Tweet-author">
        <div class="TweetAuthor">
            <a class="TweetAuthor-link" href="#channel"> </a>
            <span class="TweetAuthor-avatar"> 
                <div class="Avatar"></div>
            </span>
            <span class="TweetAuthor-name">TwitterDev </span>
            <span class="Icon Icon--verified"> </span>
            <span class="TweetAuthor-screenName">@TwitterDev </span>
          </div> <!-- tweet author -->
      </div> <!-- timeline-tweet-author -->
      <div  class="timeline-Tweet-text">
        {{fake}}
      </div> <!-- tweet text -->
      <div class="timeline-Tweet-metadata">  
         <span class="timeline-Tweet-timestamp">9h</span>
      </div> <!--timeline-tweet-metadata -->
      <ul class="timeline-Tweet-actions">
        <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
        <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
      </ul> <!-- timeline-tweet-actions -->
    </div> <!-- timeline-tweet -->
  </div> <!-- timeline-tweetlist-tweet -->
  
</div> <!-- tw-block-parent -->
<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
      </div> <!-- button-section -->
 </div> <!-- wrapper -->


<div class="wrapper">

<div class="tw-block-parent">
  <div class="timeline-TweetList-tweet2">
    <div class="timeline-Tweet">
      <div class="timeline-Tweet-brand">
        <div class="Icon Icon--twitter"></div>
      </div> <!-- brand -->
      <div class="timeline-Tweet-author">
        <div class="TweetAuthor">
            <a class="TweetAuthor-link" href="#channel"> </a>
            <span class="TweetAuthor-avatar"> 
                <div class="Avatar"></div>
            </span>
            <span class="TweetAuthor-name">TwitterDev </span>
            <span class="Icon Icon--verified"> </span>
            <span class="TweetAuthor-screenName">@TwitterDev </span>
          </div> <!-- tweet author -->
      </div> <!-- timeline-tweet-author -->
      <div  class="timeline-Tweet-text">
        Checkout this new website!
        <a href="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/05/12/104466932-PE_Color.240x240.jpg?v=1494613853">@DonaldTrump </a>
        <span>we doing it! </span>
        <a href="#">#DidHeSayThis? </a>
        <span> check out </span>
        <a href="https://www.linkedin.com/in/schuyler-jackson/">Spike's Linked In </a>
      </div> <!-- tweet text -->
      <div class="timeline-Tweet-metadata">  
         <span class="timeline-Tweet-timestamp">9h</span>
      </div> <!--timeline-tweet-metadata -->
      <ul class="timeline-Tweet-actions">
        <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
        <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
      </ul> <!-- timeline-tweet-actions -->
    </div> <!-- timeline-tweet -->
  </div> <!-- timeline-tweetlist-tweet -->
</div> <!-- tw-block-parent -->
<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
      </div> <!-- button-section -->

</div> <!-- wrapper -->
	

</body>
</html>