

<!DOCTYPE html>
<html>
	<head>
		<title>My Webpage</title>
	</head>
	<body>
		<h1>Hello World!</h1>
		<h4 id='date'></h4>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
		<script async src="{{ url_for('static', filename='javascript/index.js') }}"></script>
		
		<div class="image-section">
			<div class="section-style">
				<img src="https://source.unsplash.com/random/400x200/?Washington State" alt="" />
				<p>A random image courtesy of unsplash.com.</p>
			</div>

			<div class="section-style">
				<img src="https://source.unsplash.com/random/400x200/?California" alt="" />
				<p>A random image courtesy of unsplash.com.</p>
			</div>
		</div>

		<div class="image-section">
			<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
			</div>

			<div class="button-section">
				<button onclick="location.href='http://www.google.com'" class="button" type="button">Real??</button>
			</div>
		</div>

	</body>
</html>

