<!DOCTYPE html>
<html>
	<head>
		<title>My Webpage</title>
    </head>
    
    <body>
        <div class="image">

		<h1>Welcome to the Trump Twitter Comparison Challenge!</h1>
		<h2>This is a website designed to compare real tweets and computer generated tweets. 
		<br>See if you can tell the difference.</h2>
		<h4 id='date'></h4>	
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing_styles.css') }}" />
		<script async src="{{ url_for('static', filename='javascript/index.js') }}"></script>
        <meta charset="UTF-8">


        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
          </ul>



    
        





        </div> <!-- image  -->
        
	</body>
</html>